:root {
  --main-font-size: calc(0.75rem + max(1vw, 1vh));

  --content-padding: calc(0.5rem + max(0.5vh, 0.5vw));
  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-item-gap: calc(1rem + max(0.5vh, 0.5vw));

  /** 
    tan + olive theme
  **/
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;

  font-size: var(--main-font-size);
}


body {
  min-height: 100dvh;
  overflow: hidden;
  white-space: nowrap;

  background-color: tan;
}

canvas {
  position: absolute;
  cursor: crosshair;
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

.menu {
  position: absolute;

  margin: var(--content-padding);
}

.menu__item--onTop {
  position: relative;
  z-index: 1;
}

.menu-dropdown {
  display: grid;

  margin-top: calc(var(--content-padding) / 2);
}

.menu-dropdown--isClosed {
  display: none !important;
}

.menu-dropdown__divider {
  border: solid;
}